<section class=left-text>
  <p>
    <strong>Title:</strong>
    <%= @static_page.title %>
  </p>

<p>
  <strong>Body:</strong>
  <%= @static_page.body %>
</p>

</section>
<section class=top-image>
  <%= image_tag_by_name(:top, class: "top-image", id:5, width: "100%", height: "100%", alt: "Some alt text") %>
</section>
<section class=bottom-image>
  <%= image_tag_by_name(:bottom, class: "bottom-image", width: "100%", height: "100%", alt: "Some alt text") %>
</section>
