<!--Edit Home Page here-->
<!--ERB file is an HTML file with bits of ruby in it. Before it's loaded up and served to the client (the Browser) it's run through an interpeter that executes the ruby and is able to insert the results into the HTML-->
<!--All this shit gets inserted at the yield-->

<div class=content-area>
  <section class=left-text>
    <p>
      <%= @static_page.title %>
    </p>
    <p>
      <%= @static_page.body %>
    </p>
  </section>
  <section class=right-image>
    <%= image_tag_by_name(:home_image, class: :banner_images, id:5, alt: "Some alt text") %>
  </section>
</div>
