<% @static_page.file_attachments.each do |attachment| %>
  <p><%= attachment.attachment_name %></p>
  <% if FileAttachment.IMAGE_TYPES.include?(attachment.attachment_content_type) %>
    <%= image_tag attachment.attachment.url %>
  <% end %>
  <%= link_to 'Destroy', attachment, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
