
<form action="/static_pages/save_file" method="post" enctype="multipart/form-data">
  <%= auth_token %>
  <input type="hidden" name="_method" value="POST">

  <input type="hidden" name="id" value="<%= @static_page.id %>">
  <label>Image name:
    <select name="file_attachment[attachment_name]" >
      <% @available_image_names.each do |name| %>
        <option value="<%= name %>"><%= name %></option>
      <% end  %>
    </select>
  </label>
  <br>
  <label>File:
    <input id="uploadInput" type="file" name="file_attachment[attachment]" >
  </label>
  <input type="submit" value="Upload>">
</form>
