/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* Structure */
 body {
   width: 100%;
   margin: 0;
   font-size: 12px;
   line-height: 20px;
   color: black;
   word-wrap:break-word;
   /*footer stuff below*/
   min-height: 100%;
   margin: 0 auto -100px; /* the bottom margin is the negative value of the footer's height */
 }

 p {
   	text-align: center;
 }

 /* Headers */
 header {
   width: 100%;
   margin: 0 0;
 }

 h1 {
   font-size: 60px;
   text-align: center;
   color: black;
   margin-top: 10px;
   text-align:center;
   font-size: 16px;
 }

 h3 {
  	font-size: 14px;
  	text-align: center;
  	color: black;
 }

 h3 a {
  	color: black;
 }


 /* Logo */
 .logo {
  text-decoration:none;
  border:0;
  width: 125px;
  height: 125px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0;
  background: image-url("nsclogo.svg") no-repeat;
 }

 .logo a {
  display : block;
  width: 150px;
  height: 150px;
 }

 .logo a:hover {
   display: none;
 }

 /* Navigation */

nav a {
   color: white;

   &:visited {
     color: white;
   }

   &:hover {
     color: #fff;
     background-color: #000;
   }
 }

 nav {
   width: 100%;
   margin: 0 0;
   color: white;
   background-color: black;
 }

 nav ul {
   padding: 0;
   margin: 0;
   color: white;
   list-style: none;
   position: relative;
 }

 nav ul li {
  	display:inline-block;
    width: 14%;
    color: white;
  	background-color: black;
    text-align: center;
 }

 nav a {
  	display:block;
    width: 100%;
  	color: white;
  	font-size: 14px;
  	line-height: 50px;
  	text-decoration:none;
 }

 nav a:hover {
   color: white;
   background-color: red;
 }

  /* Hide Dropdowns by default */
 nav ul ul {
  	display: none;
  	position: absolute;
  	top: 50px; /* Height of navbar */
 }

 nav ul li:hover > ul { /* Display Dropdowns on hover */
  	display:inherit;
 }

 nav ul ul li { /* Dropdown 1 */
  	width:100%;
  	float:none;
  	display:list-item;
  	position: relative;
    left: -50%; /*keeps dropdown menu item centered under dropdown*/
 }

 nav ul ul ul li { /* Dropdowns after 1 */
   position: relative;
   top:-60px;
   left:170px;
 }
.account-bar {
  position: absolute;
  top: 5px;
  right: 5px;
}
 /* li > a:after { content:  ' v'; } Dropdown symbol */
 /* li > a:only-child:after { content: ''; } Dropdown symbol */

 /* Content-area */
 .content-area {
   margin-left: 20px;
 }

 .banner-images {
   width: 100%;
   height: auto;
 }

 /* Footer */

footer {
 	height: 100px;
  background-color: #3e3e3e;
  padding: 50px;
  text-align: center;
 }

/* Images */
img {
  width: 100%;
}
