
.banner-3-panel section {
  display: inline-block;;
}
.banner-3-panel .bottom-flex {
  display: flex;
  height: calc(100% - 300px)
}
.banner-3-panel .top-banner {
  width: 100%;
  max-height: 500px;
}
.banner-3-panel .left-text {
  width: 33%;
}
.banner-3-panel .center-calendar {
  width: 33%;
}
.banner-3-panel .right-flyer {
  width: 33%;

}
