
.banner-3-panel section {
  display: inline-block;;
}
.banner-3-panel .bottom-flex {
  display: flex;
  height: calc(100% - 300px)
}
.banner-3-panel .top-banner {
  width: 100%;
}
.banner-3-panel .left-text {
  width: 32%;
  margin-left: 1%;
  margin-right: 1%;
}
.banner-3-panel .center-calendar {
  width: 32%;
  margin-right: 1%;
}
.banner-3-panel .right-flyer {
  width: 32%;

}
